@font-face {
    font-family: "PayPalSansBig-Regular";
    src: url("./picture/PayPalSansBig-Regular-9c5c0f.woff2");
}

@font-face {
    font-family: "Noto Sans SC";
    src: url("./picture/noto-sans-sc-regular.woff2");
}

